{{#if user}}
	<p>Привет "{{ user.username }}". Можешь посмотреть свой <a href="/profile">профиль</a> или <a href="/logout">разлогиниться</a></p>
{{else}}
	<p>Добро пожаловать! Пожалуйста, <a href="/auth/github">зарегистрируйтесь через GitHub</a>.</p>
{{/if}}
